<div class="shadow navbar bg-base-100">
  <div class="flex-1">
    <%= link_to 'Muscle Typing', root_path %>
  </div>
  <div class="flex-none">
    <div class="flex-shrink-0">
      <%= link_to '遊び方', class: 'btn btn-primary btn-sm' %>
    </div>
  </div>
</div>